{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       

          


      

      <div class="form-group">
          
        
          <form>
  <div class="form-group">
    
      <fieldset class="inline">

      <legend>
          <h1 class="heading-large">
             Create an account 
              </h1>
          
      </legend>
          
 <h1 class="heading-medium">
             Username  
              </h1>
          <div class="form-group">
  <label class="form-label" for="first-name-2">Username</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>    
<h1 class="heading-medium">
             Email address 
              </h1>
          <div class="form-group">
  <label class="form-label" for="first-name-2">Email</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Confirm email</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>
       <h1 class="heading-medium">
             Password 
              </h1>   
          <div class="form-group">
  <label class="form-label" for="first-name-2">Password</label>
  <span class="form-hint" id="dob-hint">You must use a minimum of 8 characters. Your password must contain at least one number, with a mixture of upper and lower case letters.</span>
              <br>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Confirm password</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>
          
          
                    
 </fieldset>
  </div>
   </form> 
          
          
          
          
          
          

         
    </div>
    <div><a class="button" style="margin-right: 10px" href="passport.html" role="button">Confirm</a>
    </div>
        
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
</div>
</main>

{% endblock %}
