{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       



      <a class="link-back" href="grand-parents-details.html">Back</a>
<p>Page 11 out of 17</p> 
      <div class="form-group">
          
        
          <form>
  <div class="form-group">
    
      <fieldset class="inline">

      <legend>
          <h1 class="heading-large">
             Additional Information 
          <br>
          <br>
          <span class="form-hint" id="dob-hint">
  If there is any other information you would like to tell us in support of your application, please complete the section below.
              </span>
              </h1>
      </legend>
                   
<label class="form-label" for="textarea">
  Details
</label>
<textarea class="form-control form-control-2-3" name="textarea" id="textarea" rows="5"></textarea>
        
 </fieldset>
  </div>
   </form> 
<form>
  

      
        <h1 class="heading-medium">
          Passport Size 
        </h1>
      

        <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Standard adult 32-page passport (£72.50)</label>
        </div>
        <br>
        <br>
        <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Jumbo adult 48-page passport (£85.50)</label>
        </div>
    
</form>        
<form>
  <div class="form-group">
    <fieldset class="inline">

      
        <h1 class="heading-medium">
          Braille Sticker
        </h1>
      
<p>If you’re blind or visually impaired, we can add a braille sticker that reads ‘passport’.</p>
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">I read Braille and require a passport sticker.</label>
        </div>
    </fieldset>
  </div>
</form>
          
          
          

         
    </div>
    <div><a class="button" style="margin-right: 10px" href="digital-passport.html" role="button">Continue</a>
    <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
    </div>
        
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
</div>
</main>

{% endblock %}
