{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       
<a class="link-back" href="type-passport.html">Back</a>
        
    </div>
      
<div class="form-group" style="padding:0 15px;">
    
    <div class="grid-row">
          
        <div class="column-full">
    
            <div class="blue-section" style="margin-top:1.04167em; padding: 60px; background: #005ea5; color: #fff;">
                 
              <div class="grid-row">
              <div class="column-two-thirds">  
              <h1 style="margin-top:-10px"class="heading-large">
               Before you continue 
              </h1>
                <p>
                    We must make sure you are eligable for an Enhanced Biometric Passport.
                </p>
                <h1 class="heading-medium">
               Under the age of 13 
              </h1>
                <p>
                    If you are 12 or under you are not eligible to get your biometrics scanned, you will need use a <u>different service.</u></p>
                
                  <h1 class="heading-medium">
               Facial Differences
              </h1>
                <p>
                    Facial Recognition Technology must be able to scan your eyes, nose and mouth. Despite the high quality of the biometric scanning, users with extreme facial differences we advise having a Biometric Passport (standard passport).
                </p>
                <br>
                <div>
                    <div><a class="button" href="applying-from.html" style="background: #fff; color: #005ea5;" role="button">Continue</a>
                    </div>
                </div> 
        </div>
    </div>


    
    </div>
        </div>
    </div>
      </div>
        

</div>
</main>

{% endblock %}
