{% extends "layout.html" %}

{% block page_title %}
  Check your answers
{% endblock %}

{% block content %}
<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="delivery.html" class="link-back">Back</a>
<p>Page 17 out of 17</p> 
      <h1 class="heading-large">
        Check your answers before sending your application
      </h1>


      <!-- only add a heading for a list if there is more than one list -->
      


      <h2 class="heading-medium">
        New passport details
      </h2>

      <dl class="govuk-check-your-answers cya-questions-short">
        <div>
          <dt class="cya-question">
            Title
          </dt>
          <dd class="cya-answer">
            Mr
          </dd>
          <dd class="cya-change">
            <a href="who-for.html">
              Change<span class="visually-hidden"> previous application number</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Name
          </dt>
          <dd class="cya-answer">
            Bradley James Smith
          </dd>
          <dd class="cya-change">
            <a href="who-for.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
        <div>
          <dt class="cya-question">
            Previous Names
          </dt>
          <dd class="cya-answer">
            You have never been known by any other names
          </dd>
          <dd class="cya-change">
            <a href="#">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Gender
          </dt>
          <dd class="cya-answer">
            Male
          </dd>
          <dd class="cya-change">
            <a href="applicants-gender.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Date of birth
          </dt>
          <dd class="cya-answer">
            29 April 1997
          </dd>
          <dd class="cya-change">
            <a href="d-o-b.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Town of birth
          </dt>
          <dd class="cya-answer">
            Leeds
          </dd>
          <dd class="cya-change">
            <a href="d-o-b.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Country of birth
          </dt>
          <dd class="cya-answer">
            United Kingdom
          </dd>
          <dd class="cya-change">
            <a href="d-o-b.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Signature
          </dt>
          <dd class="cya-answer">
            You must sign your new passport when you receive it
          </dd>
          <dd class="cya-change">
            <a href="signing.html"s>
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Biometrics upload
          </dt>
          <dd class="cya-answer">
            5468790987 (complete)
          </dd>
          <dd class="cya-change">
            <a href="digital-passport-bio.html">
              Change<span class="visually-hidden"> licence type</span>
            </a>
          </dd>
        </div>
          <br>
          <br>
          <h2 class="heading-medium">
              Application details
          </h2>
          <br>
        <div>
          <dt class="cya-question">
            Address
          </dt>
          <dd class="cya-answer">
            14 Cherry Rise <br />
            Leeds<br />
            LS14 2HJ
          </dd>
          <dd class="cya-change">
            <a href="contact.html">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>

        <div>
          <dt class="cya-question">
            Contact details
          </dt>
          <dd class="cya-answer">
            Brad9337@gmail.com<br /><br />
            07803297500
          </dd>
          <dd class="cya-change">
            <a href="contact-details.html">
              Change<span class="visually-hidden"> licence period</span>
            </a>
          </dd>
        </div>
      
        
        <div>
          <dt class="cya-question">
            Braille
          </dt>
          <dd class="cya-answer">
            You don't require a braille sticker
          </dd>
          <dd class="cya-change">
            <a href="add-info.html">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
          <br>
          <br>
          <h2 class="heading-medium">
              Costs
          </h2>
          <br>
        <div>
          <dt class="cya-question">
            New passport 
          </dt>
          <dd class="cya-answer">
            Standard passport with secure delivery included.

          </dd>
          <dd class="cya-change">
            <a href="add-info.html">
              Change<span class="visually-hidden"> home address</span>
            </a>
          </dd>
        </div>
          <div>
          <dt class="cya-question">
            Total 
          </dt>
          <dd class="cya-answer">
£75.50
          </dd>
          <dd class="cya-change">
            
          </dd>
        </div>
          </dl>
        
        
      <h2 class="heading-medium">Now send your application</h2>

      <p class="text">
        By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
      </p>
        
<br>

      <div class="form-group">
        <a href="dec.html" style="margin-right: 10px" class="button">Continue</a>
        <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
      </div>

    </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
  </div>
</main>
</main>

{% endblock %}
