{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       



      <a class="link-back" href="d-o-b.html">Back</a>
<p>Page 7 out of 17</p> 
      <div class="form-group">
          
        
          <form>
  <div class="form-group">
    
      <fieldset class="inline">

      <legend>
          <h1 class="heading-large">
             Applicants contact details 
              <br>
              <br>
              <span class="form-hint" id="dob-hint">
  Your address is required for correspondence and for the return of your supporting documents and new passport. Your address will not be shown on your new passport.
              </span>
          </h1>
          <h1 class="heading-medium">
          Residential Address
        </h1>
          
          
        <div class="form-group">
  <label class="form-label" for="first-name-2">Postcode</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
        
          
<input class="button" type="button" value="Find address">
          
          <br>
          <br>
          <div class="form-group">
  <label class="form-label" for="select-box">Select address</label>
              
  <select class="form-control" id="select-box" name="select-box">
    <option></option>
    <option>1, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>2, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>3, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>4, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>5, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>6, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>7, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>8, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>9, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>10, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>11, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>12, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>14, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
    <option>15, Cherry Rise, Whinmoor, Leeds, LS14 2HJ</option>
  </select>
</div>
      </legend>
          
        
              
 </fieldset>
  </div>
   </form> 
          
          
          

         
    </div>
    <div><a class="button" style="margin-right: 10px" href="contact-details.html" role="button">Continue</a>
    <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
    </div>
        
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
</div>
</main>

{% endblock %}
