{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       



      <a class="link-back" href="check-your-answers-page.html">Back</a>
<p>Page 16 out of 17</p> 
      <div class="form-group">
          
        
          <form>
  <div class="form-group">
    
      <fieldset class="inline">

      <legend>
          <h1 class="heading-large">
             Declaration 
              </h1>
      </legend>
        <p>By continuing you confirm that:</p>
          
        <p>• the information you've given is correct</p>
        <p>• you agree to the terms and conditions</p>
        
        <div class="notice">
  <i class="icon icon-important">
    <span class="visually-hidden">Warning</span>
  </i>
  <strong class="bold-small">
    If you deliberately give untrue or misleading information, we may share information with the police in the UK or abroad and you could be prosecuted.
  </strong>
</div>
          <br>
         <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">I Agree</label>
      </div>
          
 </fieldset>
  </div>
   </form> 
          
          
      
          

         
    </div>
    <div><a class="button" style="margin-right: 10px" href="payment.html" role="button">Continue to payment</a>
    <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
    </div>
        
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
</div>
</main>

{% endblock %}
