{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       
<a class="link-back" href="type-passport.html">Back</a>
        
    </div>
      
<div class="form-group" style="padding:0 5px;">
    
    <div class="grid-row">
          
        <div class="column-full">
    
            <div class="blue-section" style="margin-top:1.04167em; padding: 10px; background: #005ea5; color: #fff;">
                 
              <div class="grid-row">
               
                  
            <div style="margin-left: 40px; margin-top: 50px">  
                <p>Guidance</p>
                    <h1 class="heading-xlarge"> Enhanced Biometric Passport 
                    </h1>
            </div>         
      
        
    </div>

    </div>
           <br>
            
            <div class="column-two-thirds">
            
<h1 class="heading-medium"> What is an Enhanced Biometric Passport? </h1>

<p>The first Enhanced Biometric Passport was issued on 14 March 2018. These passports introduced a new design with additional security features, still including a chip with the holder’s facial biometric. The new passports will include the holder’s facial, iris and fingerprint biometrics.</p>

<h1 class="heading-medium">What does this mean at the airport?</h1>

<p>All major airports will be implemented with an Enhanced Biometric Tunnel by 2020. 
These tunnels will replace border control and be outfitted with 80 cameras that will scan your biometrics as you walk through.
This means you can travel without a physical passport if you are travelling to and from airports that meet the criteria. You must still use your biometric chipped passport in airports that do not have an Enhanced Biometric Tunnel. Find out which airports currently use this service <u>here.</u></p>

<h1 class="heading-medium">Where you should get your biometrics scanned?</h1>

<p>Biometrics can be scanned at the passport office or post office, for which you will be given a code that will retrieve your biometrics; this should be entered on the application form.
If your smartphone scans your biometrics, there is also the option to upload from your mobile.</p> 

            </div>
            
            
        </div>
    </div>
      </div>
        
<a class="link-back" href="type-passport.html">Back</a>
</div>
</main>

{% endblock %}
