{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       


      <a class="link-back" href="passport.html">Back</a>
<p>Page 1 out of 17</p>
      <div class="form-group">
          <h1 class="heading-large">
        Have you had a UK passport before?
        
      </h1>
  
  <form>
  <div class="form-group">
    <fieldset class="inline">
        <br>
      <div class="multiple-choice">
        <input id="radio-inline-1" type="radio" name="radio-inline-group" value="Yes">
        <label for="radio-inline-1">Yes</label>
      </div>
      <div class="multiple-choice">
        <input id="radio-inline-2" type="radio" name="radio-inline-group" value="No">
        <label for="radio-inline-2">No</label>
      </div>

    </fieldset>
  </div>
</form>
          <br>
        <a class="button" style="margin-right: 10px" href="type-passport.html" role="button">Continue</a>
        <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>

    </div>
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
          
        </div>
          

      </div>
</main>

{% endblock %}
