{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       



      <a class="link-back" href="contact-details.html">Back</a>
<p>Page 9 out of 17</p> 
      <div class="form-group">
          
        
          <form>
  <div class="form-group">
    
      <fieldset class="inline">

      <legend>
          <h1 class="heading-large">
             Parent's Details 
          </h1>
          <h2 class="heading-large">
          Mother or parent 1
          </h2>
          <h3 class="heading-medium">
          Mother or parent 1's details
          </h3>
      </legend>
                   
<div class="form-group">
  <label class="form-label" for="first-name-2">First and middle names</label>
  <input class="form-control" id="first-name-2" name="first-name-2" type="text">
</div>
<div class="form-group">
  <label class="form-label" for="last-name-2">Last name</label>
  <input class="form-control" id="last-name-2" name="last-name-2" type="text">
</div>
          
<h3 class="heading-medium">
          Mother or parent 1's date of birth
</h3>
          
          <fieldset>
                                                      <legend>
                                                        <span class="form-label-bold visuallyhidden">
                                                          Your date of birth
                                                        </span>
                                                        <span class="form-hint" id="dob-hint">For example, 02 12 1980</span>
                                                      </legend>
                                                      <div class="form-date">
                                                        <div class="form-group form-group-day">
                                                          <label class="form-label" for="dob-day">Day</label>
                                                          <input type="numberic" name="passport-issue-day" id="passport-issue-day" class="form-control" aria-required="true" min="1" max="2" maxlength="2" pattern="[0-9]*" aria-describedby="passport-issue-hint" autocomplete="passport-issue-day">
                                                        </div>
                                                        <div class="form-group form-group-month">
                                                          <label class="form-label" for="dob-month">Month</label>
                                                          <input type="numeric" name="passport-issue-day" id="passport-issue-day" class="form-control" aria-required="true" min="1" max="31" maxlength="2" pattern="[0-9]*" aria-describedby="passport-issue-hint" autocomplete="passport-issue-day">
                                                        </div>
                                                        <div class="form-group form-group-year">
                                                          <label class="form-label" for="dob-year">Year</label>
                                                          <input type="numeric" name="passport-issue-day" id="passport-issue-day" class="form-control" aria-required="true" min="1" max="31" maxlength="4" pattern="[0-9]*" aria-describedby="passport-issue-hint" autocomplete="passport-issue-day">
                                                        </div>
                                                      </div>
              <br>
              <br>
              <br>
              

</fieldset> 
        
 </fieldset>
  </div>
   </form> 
          
          
          

         
    </div>
    <div><a class="button" style="margin-right: 10px" href="grand-parents-details.html" role="button">Continue</a>
    <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
    </div>
        
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
</div>
</main>

{% endblock %}
