{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       



      <a class="link-back" href="digital-passport-bio.html">Back</a>
<p>Page 13 out of 17</p> 
      <div class="form-group">
          <h1 class="heading-large">
        Retrieve your digital biometrics
        
      </h1>
  <label class="form-label" for="ni-number">
   <h1 class="heading-medium">
        Biometric code
       <span class="form-hint">
    This is case-sensitive. For example 1423690535900
    <br>
  </span>
        
      </h1>
   
  </label>
          
          <fieldset>
                                                      
                                                      <div class="form-date">
                                                          
                                                        <div class="form-group form-group-day">
                                                        
                                                          <input class="form-control" id="dob-day" name="dob-day" type="number" pattern="[0-9]*" min="0" max="31" aria-describ  edby="dob-hint">
                                                            
                                                        </div>
                                                          
                                                        <div class="form-group form-group-month">
                                                          
                                                          <input class="form-control" id="dob-month" name="dob-month" type="number" pattern="[0-9]*" min="0" max="12">
                                                        </div>
                                                          
                                                        <div class="form-group form-group-year">
                                                          
                                                          <input class="form-control" id="dob-year" name="dob-year" type="number" pattern="[0-9]*" min="0" max="2016">
                                                        </div>
                                                      </div>
              <br>
              <br>
              

</fieldset>

    </div>
    <div><a class="button" style="margin-right: 10px" href="signing.html" role="button">Continue</a>
    <a class="button" style="margin-right: 10px" href="account.html" role="button">Save and Exit</a>
    </div>
  </div>
      <div class="column-one-quarter" style="margin-left: 80px;">
          <br>
          <aside class="govuk-related-items" data-module="track-click" role="complementary"></aside>
            <h1 class="heading-small">Passport Adviceline</h1>
          
          <font size="3">Telephone:</font> <br><font size="3">0300 222 0000</font><br>
<font size="3">From outside the UK:</font> <br>
    <font size="3">+44 (0)300 222 0000</font>
        </div>
      </div>
</main>

{% endblock %}
