{% extends "layout.html" %}

{% block page_title %}
  Question page
{% endblock %}

{% block content %}

<main id="content" role="main">
    <div class="phase-banner">
    <p>
    <strong class="phase-tag">BETA</strong>
    <span>This is a new service – your <a href="give-feedback.html">feedback</a> will help us to improve it.</span>
    </p>
    </div>
  <div class="grid-row">
    <div class="column-two-thirds">
       
<a class="link-back" href="applying-from.html">Back</a>
        
    </div>
      
<div class="form-group" style="padding:0 5px;">
    
    <div class="grid-row">
          
        <div class="column-full">
    
            <div class="blue-section" style="margin-top:1.04167em; padding: 60px; background: #005ea5; color: #fff;">
                 
              <div class="grid-row">
              <div class="column-two-thirds">  
              <h1 style="margin-top:-10px"class="heading-large">
               Who is the passport for? 
              </h1>
                <p>
                    We will now ask for your personal details. Before you continue, please read the important information below.
                </p>
                <h1 class="heading-medium">
               Important information before you begin 
              </h1>
                <p>
                    Don't book any travel until you have received your passport. We cannot accept responsibility for travel booked before your passport arrives.
                    This is a new online service, once you submit your application online, we will post your passport to the address given.</p>

<p>The details you provide from this point will be used to make your passport application. We'll check them using information held by public and private sector organisations to determine whether to issue a passport. We may also use these details to test our systems and services, and we may contact you to ask if you are satisfied with the service we provide.</p>

<p>We may pass information held on your passport and on related passport records to public and private sector organisations in the UK and abroad when you use your passport, obtain a service or when it is in the public interest to do so. Further information can be found on our privacy statement at www.gov.uk/hm-passport-office
                </p>
                 
                <br>
                <div>
                    <div><a class="button" href="who-for.html" role="button" style="background: #fff; color: #005ea5;">Continue</a>
                   
                    
                </div>

            </div> 
      
        </div>
    </div>


    
    </div>
        </div>
    </div>
      </div>
        

</div>
</main>

{% endblock %}
